@page
@model MyCartModel
<h2>Giỏ Hàng</h2>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Số Lượng</th>
            <th>Tên Sản Phẩm </th>
            <th class="text-right">Giá bán </th>
            <th class="text-right">Tổng Phụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.myCart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.LOLEM.Title</td>
                <td class="text-right">@line.LOLEM.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.LOLEM.Price).ToString("c"))
                </td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="LOLEMID"
                               value="@line.LOLEM.LOLEMID" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">
                            Xóa 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Tổng Hóa Đơn:</td>
            <td class="text-right">
                @Model.myCart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn btn-info" href="@Model.ReturnUrl">Tiếp Tục Mua Sắm </a>
    <a class="btn btn-info" asp-action="Checkout" asp-controller="Order">
        Thanh Toán Ngay 
    </a>
</div>